/* styles/main.css */


.container-main {
    margin: 20px auto 50px;
}

.navbar-brand {
    margin: 0;
    padding: 0 20px;
    line-height: 50px;
}

.auth-button i {
    display: inline-block;
    margin-right: 5px;
}

.list-group-item {
    padding: 2px;
    font-size: 1.25em;
}

.list-group-item span {
    display: inline-block;
    margin: 0 5px;
    font-size: 2em;
    vertical-align: baseline;
    color: #AAA;
}

.filters-container {
    display: none;
    margin-bottom: 20px
}

.pagination-container {
    margin: 0 auto 20px;
    text-align: center;
}

.pagination-container span {
    vertical-align: middle;
    font-size: 3em;
}

.pagination-button {
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
    font-size: 5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagination-button:hover,
.pagination-button:focus,
.pagination-button:active {
    text-decoration: none;
}

.pagination-button.disabled,
.pagination-button[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filter-toolbar > .btn + .btn,
.filter-toolbar > .btn-group + .btn,
.filter-toolbar > .btn + .btn-group,
.filter-toolbar > .btn-group + .btn-group {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .pagination-container {
        margin: 0 auto;
    }
    .pagination-container span {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}
