<!doctype html>
<html lang="en">
    <head>

        <!--Meta-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Wrapp Demo">

        <!--Title-->
        <title>Wrapp Demo</title>

        <!--Styles-->
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="/styles/main.css" rel="stylesheet">

    </head>
    <body>

        <div class="container-main">

            <div id="fb-root"></div>

            <div id="content" class="container">

                <header>

                    <div id="nav">
                        <nav class="navbar navbar-default" role="navigation">
                            
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-target">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand">
                                    <img src="/images/wrapp-icon.png" height="40">
                                    Wrapp Demo
                                </a>
                            </div>
                            
                            <div class="collapse navbar-collapse navbar-collapse-target">
                                
                                <div class="auth pull-right">
                                    <a href="#" id="facebook-auth-button" class="auth-button btn btn-primary navbar-btn"><i class="fa fa-facebook-square"></i> Sign In with Facebook</a>
                                </div>

                            </div>

                        </nav> <!--End .navbar-->
                    </div> <!--End #nav-->

                </header>

                <div class="row">

                    <div class="col-md-6">

                        <div id="filters" class="filters-container">
                            
                            <input type="search" id="search-friends" class="form-control input-lg" placeholder="Search Friends">

                            <div id="sorting" class="sorting-container"></div> <!--End #sorting-->
                            
                        </div> <!--End #filters-->

                    </div>

                    <div id="friends-list" class="list-group col-md-6"></div> <!--End #firneds-list-->

                </div> <!--End .friends-container-->

            </div> <!--End .row-->

        </div> <!--End .container-main-->

        <script type="text/template" id="sorting-template">
            <div id="pagination" class="pagination-container">
                <a id="pagination-back-button" class="pagination-button disabled"><i class="fa fa-chevron-circle-left"></i></a>
                <span id="pagination-info"><%= currentPage %> / <%= totalPages %></span>
                <a id="pagination-forward-button" class="pagination-button disabled"><i class="fa fa-chevron-circle-right"></i></a>
            </div>
            <div class="sorting-toolbar text-center">
                <div class="btn-group btn-group-lg">
                    <button type="button" id="alpha-sort-az" class="alpha-sort-button btn btn-default active"><i class="fa fa-sort-alpha-asc"></i></button>
                    <button type="button" id="alpha-sort-za" class="alpha-sort-button btn btn-default"><i class="fa fa-sort-alpha-desc"></i></button>
                </div>
            </div>
        </script>

        <script type="text/template" id="friend-template">
            <img class="img-rounded" src="<%= picture.data.url %>" width="50" height="50" alt="Profile Picture">
            <%= name %>
        </script>

        <script src="bower_components/jquery/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/backbone/backbone-min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/facebook.js"></script>
        <script src="js/models/friend.js"></script>
        <script src="js/collections/friends.js"></script>
        <script src="js/utils/page.js"></script>
        <script src="js/views/friend-view.js"></script>
        <script src="js/views/app-view.js"></script>
        <script src="js/app.js"></script>

    </body>
</html>
